:root {
  --c-dark-gray: #babae0;
  --c-medium-gray: #e9e9f9;
  --c-light-gray: #f2f2f2;
  --c-blue: #0b148b;
  --c-text: #04094f;
}

body {
  background-color: var(--c-medium-gray);
  margin: 0;
  color: var(--c-text);
}

input {
  padding: 1.1em 1em;
  border-radius: 0.5em;
  border: 1px solid var(--c-dark-gray);
}

button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid var(--c-dark-gray);
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.spaced {
  justify-content: space-between;
  /* align-items: center; */
}

.view {
  padding: 2em;
}

.view-bottom {
  position: absolute;
  bottom: 2em;
  gap: 1em;
  width: calc(100% - 4em);
  padding: 0em 2em;
}

.clickable {
  cursor: pointer;
}

.btn {
  font-size: large;
  padding: 0.8em;
  background-color: var(--c-medium-gray);
  color: var(--c-text);
  border: none;
  border-radius: 2em;
}

.btn-icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
