:root {
  --c-dark-gray: #babae0;
  --c-medium-gray: #e9e9f9;
  --c-light-gray: #f5f5ff;
  --c-white: white;
  --c-text: #04094f;
  --c-blue: #0b148b;
  --c-light-blue: #4b70e8;
  --c-red: rgb(255, 106, 95);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --c-dark-gray: #6f6f6f;
    --c-medium-gray: #484848;
    --c-light-gray: #1d1d1d;
    --c-white: rgb(0, 0, 0);
    --c-text: #ffffff;
    --c-blue: #3341ff;
    --c-light-blue: #84a1ff;
  }
} */

html,
body {
  overscroll-behavior: none;
  user-select: none;
}

body {
  background-color: var(--c-medium-gray);
  margin: 0;
  color: var(--c-text);
}

input {
  font-size: medium;
  /* background-color: var(--c-light-gray); */
  color: var(--c-text);
  padding: 1em 1em;
  border-radius: 0.5em;
  border: 1px solid var(--c-dark-gray);
}

input:disabled {
  background-color: var(--c-light-gray);
  color: var(--c-dark-gray);
}

::placeholder {
  color: var(--c-text);
  opacity: 0.3;
}

button {
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid var(--c-dark-gray);
  cursor: pointer;
  background-color: var(--c-light-gray);
  color: var(--c-text);
  white-space: nowrap;
}

button span {
  margin: 0em 0.5em 0em 0.5em;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.spaced {
  justify-content: space-between;
  /* align-items: center; */
}

.display-container {
  background-color: var(--c-white);
  position: relative;
  max-width: 450px;
  height: 100svh;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 3em var(--c-dark-gray);
}

.view-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.view {
  padding: 1.6em;
  padding-bottom: 10em;
  overflow: auto;
}

.view-bottom {
  position: absolute;
  bottom: 0;
  gap: 1em;
  width: calc(100% - 3.2em);
  padding: 1.6em;
  position: absolute;
  pointer-events: none;
  touch-action: none;
}

.view-bottom > * {
  pointer-events: all;
  touch-action: all;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.clickthrough {
  pointer-events: none !important;
  touch-action: none !important;
}

.clickthrough > * {
  pointer-events: all;
  touch-action: all;
}

.btn {
  font-size: large;
  padding: 0.8em;
  background-color: var(--c-medium-gray);
  color: var(--c-text);
  border: none;
  border-radius: 2em;
}

.btn:disabled {
  color: var(--c-dark-gray);
}

.svg-inline--fa {
  aspect-ratio: 1;
}

.btn-icon {
  border-radius: 5em;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-red {
  background-color: var(--c-red);
  color: var(--c-white);
}

.btn-shadow {
  box-shadow: 0 0.3em 0.6em #1f214457;
}

.transparent {
  background-color: transparent;
  border: none;
}

.animated {
  transition: all 400ms;
}

.overlay {
  position: absolute;
  width: 100%;
}

.modal-wrapper {
  z-index: 999;
}

.modal-wrapper-background {
  background-color: rgba(4, 9, 79, 0.5);
  z-index: 999;
}

.modal {
  position: relative;
  background-color: var(--c-white);
  border-radius: 1.5em;
  box-shadow: 0 0.5em 1em rgba(4, 9, 79, 0.5);
  width: 70%;
  /* min-height: 40%; */
  max-height: 80%;
  overflow: auto;
  padding: 2em;
}

.hidden-right {
  transform: translateX(100%);
}

.tilt-shake {
  animation: tilt-shake-anim 0.3s infinite;
}

@keyframes tilt-shake-anim {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.vertical-shake {
  animation: vertical-shake-anim 1s infinite;
}

@keyframes vertical-shake-anim {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.2em);
  }
  50% {
    transform: translateY(-0.8em);
  }
  75% {
    transform: translateY(0.4em);
  }
  100% {
    transform: translateY(0);
  }
}
